.layout-custom {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  header {
    height: auto;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: row;

  aside {
    width: 200px;
    height: 80vh;
    border-right: 12px solid #f1f1f1;
  }

  main {
    width: 100%;
    height: 80vh;
  }
}